<section class="professionalServices section">
    <div class="professionalServices__container container">
        <h2 class="section__title">Professional Services</h2>
        <h3 class="section__subTitle">Proin iaculis purus consequat sem cure</h3>
        <div class="flexContainer">
            <div class="flexContainer__flexItem">
                <i class="flexContainer__flexItem__icon icon icon-heart"></i>
                <h4 class="flexContainer__flexItem__title">Beautiful Designs</h4>
                <p class="flexContainer__flexItem__description">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere
                    odio in tincidunt.</p>
            </div>
            <div class="flexContainer__flexItem">
                <i class="flexContainer__flexItem__icon icon icon-responsive"></i>
                <h4 class="flexContainer__flexItem__title">Responsive Web</h4>
                <p class="flexContainer__flexItem__description">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere
                    odio in tincidunt.</p>
            </div>
            <div class="flexContainer__flexItem">
                <i class="flexContainer__flexItem__icon icon icon-graph"></i>
                <h4 class="flexContainer__flexItem__title">Marketing Tools</h4>
                <p class="flexContainer__flexItem__description">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere
                    odio in tincidunt.</p>
            </div>
        </div>
    </div>
</section>
<section class="justRelax">
    <div class="justRelax__leftColumn">
        <i class="icon icon-angularjs"></i>
    </div>
    <div class="justRelax__rightColumn">
        <div class="justRelax__rightColumn__content">
            <div class="justRelax__rightColumn__title">
                Just relax <span class="title--red">&</span> <br>
                let us do the heavy lifting
            </div>
            <div class="justRelax__rightColumn__body">
                Proin iaculis purus consequat sem cure  digni ssim. Donec <br>
                porttitora entum suscipit  aenean rhoncus posuere odio in tincidunt.
                <ul class="bodyList">
                    <li class="bodyList__item">
                        <i class="bodyList__itemIcon icon icon-check"></i>
                        <span>Initial Setup & Customizations</span>
                    </li>
                    <li class="bodyList__item">
                        <i class="bodyList__itemIcon icon icon-check"></i>
                        <span>Regular Updates</span>
                    </li>
                    <li class="bodyList__item">
                        <i class="bodyList__itemIcon icon icon-check"></i>
                        <span>Round The Clock Support</span>
                    </li>
                </ul>
                <a href="#/" class="btn">Learn More</a>
            </div>
        </div>
    </div>
</section>
<section class="frameworksAndTools section">
    <div class="frameworksAndTools__container container">
        <h2 class="section__title">Frameworks & tools</h2>
        <h3 class="section__subTitle">Proin iaculis purus consequat cure.</h3>
        <div class="flexContainer">
            <div class="flexContainer__flexItem">
                <div class="flexContainer__flexItem__icon icon--circled">
                    <i class="icon icon-reactjs"></i>
                </div>
                <h4 class="flexContainer__flexItem__title">ReactJS</h4>
                <p class="flexContainer__flexItem__description">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere
                    odio in tincidunt.</p>
            </div>
            <div class="flexContainer__flexItem">
                <div class="flexContainer__flexItem__icon icon--circled">
                    <i class="icon icon-git"></i>
                </div>
                <h4 class="flexContainer__flexItem__title">Git</h4>
                <p class="flexContainer__flexItem__description">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere
                    odio in tincidunt.</p>
            </div>
            <div class="flexContainer__flexItem">
                <div class="flexContainer__flexItem__icon icon--circled">
                    <i class="icon icon-sass"></i>
                </div>
                <h4 class="flexContainer__flexItem__title">Sass</h4>
                <p class="flexContainer__flexItem__description">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere
                    odio in tincidunt.</p>
            </div>
        </div>
    </div>
</section>